@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;600;800&display=swap');

:root{
  --dark-blue:#241b50;
  --light-red: #DC7381;
  --dark-red: #fd0f27;
  --light-brown: #edc6a7;
  --dark-brown: #98614d;
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
}
/* #5F6988 #2F3A56 #E5F0FF #D5A419 */
*,
::before,
::after {
  box-sizing: inherit;
}


body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100vh;
  flex-direction: column;
  scroll-behavior: smooth;
  text-align: bottom;
}

.header {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 85vh;
  min-height: 5rem;
  background-image: url('/public/profile-photo-new.jpg');
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  padding: 6rem 8rem;
}

nav {
  text-align: left;
  text-indent: 4rem;
  padding-top: 1rem;
  top: 0;
  margin: 0;
  position: absolute;
  height: 3rem;
  width: 100%;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: #2F4858;
  font-weight: bold;
}

nav a:hover {
  background: black;
  color: white;
}

#page-body {
  max-width: 80vw;
  height: 100%;
}

.introduction-part {
  max-height: 100%;
  width: 100%;
  display: flex;
}

.text {
  width: 40vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-title h4{
  font-size: 0.8em;
  color: white;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.1;
  margin: 0;
  padding: 0.2rem 0;
  text-shadow: 0.1em 0.1em 0.5em grey;
}

.text-title h2{
  font-size: 3rem;
  letter-spacing: 0.05em;
  color: white;
  font-weight: 800;
  animation: header-title 700ms cubic-bezier(.17,.67,.6,1.09) forwards;
  animation-delay: 150ms;
  opacity: 0;
  margin: 0;
  text-shadow: 0.1em 0.1em 0.5em grey;
}

.header--text--title h4:first-child {
  animation: header-title 700ms cubic-bezier(.17,.67,.6,1.09) forwards;
  animation-delay: 0ms;
  opacity: 0;
  margin: 0;
}

.header--text--title h4:nth-child(2) {
  animation: header-title 700ms cubic-bezier(.17,.67,.6,1.09) forwards;
  animation-delay: 300ms;
  opacity: 0;
  margin: 0;
}

@keyframes header-title {
  0% {
    opacity: 0;
    transform: translateX(-20vw);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.intro-link {
  display: inline-block;
  max-width: fit-content;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  border: 0;
  color: #2F4858;
  border-radius: 0.5em;
  background-image: linear-gradient(to bottom, #6CFACD, #6CFACD); 
  box-shadow: 0.1em 0.1em 0.5em grey;
  transition: all 0.5s ease-in;
  opacity: 0;
  letter-spacing: 0.05em;

  animation: header-title 800ms cubic-bezier(.17,.67,.6,1.09) forwards;
}

.intro-link:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom, var(--light-red), var(--light-red));
  transform: scale(1.06);
}

.intro-link:active {
  box-shadow: inset 0 0 0.1em #124, 
  inset 0 0.1em 0.1em #124;
  background-image: linear-gradient(to bottom, var(--dark-red), var(--dark-red));
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
  height: 15vh;
  width: 100vw;
  color: var(--dark-blue);
}

.social a {
  color: #2F4858;
}